<div id="container" style="text-align: center;">
  <div id="form">
    <%= form_for @short_url, :as => :url do |f| -%>
      <%= text_field_tag :url, '', :class => "text" -%>
      <%= f.submit "Shorten", :class => "button" -%>
    <% end -%>
  </div>

  <% if flash[:error] -%>
    <div id="error">
      <%= flash[:error] -%>
    </div>
  <% end -%>

  <p style="max-width: 400px; margin: 50px auto; font-size: 1.3em; color: #666;">Octo.cat shortens URLs.  If those URLs happen to be Github repositories and you happen to be on a mobile device, it shows you a nice optimized version.</p>

</div>
