body {
  background: #FFF url(/images/bg.jpg);
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
}

input.text {
  border: 1px solid #CCC;
  padding: 0.2em;
  font-size: 1.4em;
  position: relative;
  top: 1px;
}

input.button {
  background: #5d8fbf;
  border: 1px solid #2f63a6;
  background: -moz-linear-gradient(top, #4d7fbf 0%, #2f63a6 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6d9fbf), to(#4f83a6));
  border-bottom: 1px solid #2b5b99;
  -moz-box-shadow: inset 0 1px 0 0 #6d96ca;
  -webkit-box-shadow: inset 0 1px 0 0 #6d96ca;
  box-shadow: inset 0 1px 0 0 #6d96ca;
  text-shadow: 0 -1px 0 #214c90;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  padding: 7px 0 8px 0;
  text-align: center;
  text-decoration: none;
  width: 142px;
  cursor: pointer;
}

div#error {
  width: 450px;
  background: rgba(20,20,20,0.6);
  border-radius: 3px;;
  color: #FFF;
  margin: 20px auto;
  padding: 10px;
}

div#url a {
  background-color: #FFF;
  border-radius: 5px;
  width: 340px;
  margin: 20px auto;
  font-size: 1.6em;
  font-weight: bold;
  display: block;
  color: #333;
  padding: 15px;
  text-decoration: none;
}

div#url a:hover {
  background-color: #6d9fbf;
  color: #FFF;
}

div#footer {
  text-align: center;
  margin-top: 90px;
}

a {
  color: #6d9fbf;
}
