<!DOCTYPE html>
<html>
<head>
  <title>OctoCat</title>
  <meta name = "viewport" content = "initial-scale = 1.0">

  <%= stylesheet_link_tag 'main' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
