<!DOCTYPE html>
<html>
<head>
  <title>octo.cat</title>

  <%= stylesheet_link_tag 'home' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="header">
    <img src="/images/octocat.jpg">
  </div>

  <%= yield %>

  <div id="footer">
    <p>Made by <a style="font-weight: bold;" href="http://twitter.com/michaeln3">@michaeln3</a>. Octo.cat is not affiliated with Github, Inc.</p>
  </div>

</body>
</html>
