<!DOCTYPE html>
<html>
<head>
  <title>octo.cat</title>

  <%= stylesheet_link_tag 'home' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<div id="footer">
  <p><a href="/why/did/i/do/this">Why?</a></p>
  <p>Made by <a style="font-weight: bold;" href="http://twitter.com/michaeln3">@michaeln3</a>. Octo.cat is not affiliated with Github, Inc.</p>
</div>


</body>
</html>
